.GameBoard {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  border: 6px black solid;
  margin: 15px;
  /* max-height: 90vh; */
  /* min-height: 524px;
  min-width: 826px; */
}
